* {
    box-sizing: border-box;
}

.nav-background {
    background-color: #007bffeb;

}

.my-con {
    margin: 0rem 5rem;
}

.nav-font {
    font-weight: 700;
    color: white;
}

.row h5 {
    margin: 1rem 0;
    font-weight: 500;
    text-align: left;
    font-size: 1rem;
    color: gray;
}

.row h6 {
    font-weight: 400;
    text-align: left;
    font-size: 0.75rem;
}

.heading {
    text-align: center;
}

.product-heading{
    text-align: center;
}

.box {
    width: 200px;
    margin: 10px;
    /* border: 2px solid red; */
}

.slid-img {
    height: 200px;
}

.slid-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box {
    text-align: center;
}
.detail-box h3{
    font-size: 1rem;
}
